/* ========= Responsive =========== */
@media (max-width: 1199.98px) {
  html {
    font-size: 13px;
  }

  nav .tell {
    display: none;
  }

  nav label {
    display: block;
    cursor: pointer;
  }

  nav .nav-links ul {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: var(--mainColor);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  nav .nav-links ul li {
    padding: 12px;
  }

  nav input#scroll-menu {
    display: none;
  }

  header .btn2 {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  header .solar-content {
    width: 100%;
  }
  #kits .container .items .card,
  #values .container .items .card {
    width: calc(100% / 2 - 30px);
  }
  #innovators .container .right-side .card {
    width: 100%;
  }
  #repairs .item {
    width: 90%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 1rem !important;
  }
  header h1 {
    font-size: 2.5rem;
  }
  #power .container .power-text {
    width: 100%;
  }
  #kits .container .items .card,
  #values .container .items .card {
    width: 100%;
  }
  #about .container .about-image,
  #about .container .about-text {
    width: 100%;
    padding-right: 0;
  }
  #about .container .hint-image {
    position: static;
    margin-top: 20px;
  }
  #innovators .container .left-side,
  #innovators .container .right-side,
  #footer .container .left-side,
  #footer .container .right-side,
  footer .links,
  footer .copy-rights,
  #opinion .container .opinion-left,
  #opinion .container .opinion-right {
    width: 100%;
  }
  #opinion .container .opinion-right .body p {
    font-size: 1rem;
  }
  #opinion .container .opinion-left h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 0.75rem !important;
  }
  #footer .links ul {
    font-size: 7px;
  }
  #opinion .container .opinion-right .body p {
    font-size: 0.8rem;
  }
  #opinion .container .opinion-left h4 {
    font-size: 1.5rem;
  }
}
